{% extends 'base.html' %}

{% block title %}Create New Scrumptious Recipe{% endblock title %}

{% block content %}
    <main>
        <h1>Create a Recipe</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}