{% extends 'base.html' %}

{% block title %}{{recipe_object.title}} - Scrumptious Recipes{% endblock title %}

{% block content %}
    <main>
        <div class="detail-grid">
            <div class="detail-title">
                <h1>{{recipe_object.title}}</h1>
                <h3>Created on: {{recipe_object.created_on|date:"F j, Y"}}</h3>
            </div>
            <div class="detail-image">
                <img src="{{recipe_object.picture}}" alt="3 vegetarian tacos on a grey wood background surounded by various ingrediants">
                <div>
                    <p>
                        {{recipe_object.rating}} stars
                    </p>
                </div>
            </div>
            <div class="detail-description">
                <h2>Description</h2>
                <p>
                    {{recipe_object.description}}
                </p>
                <button class="default-button">
                    <a style="color: white;" href="{% url 'edit_recipe' id=recipe_object.id %}">Edit Recipe</a>
                </button>
            </div>
            <div class="detail-ingrediants">
                <h2>Ingredients</h2>
                <table>
                    <thead>
                        <tr>
                            <td><b>Amount</b></td>
                            <td><b>Food Item</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe_object.ingredients.all %}
                        <tr>
                            <td>{{ ingredient.amount }}</td>
                            <td>{{ ingredient.food_item }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="detail-steps">
                <h2>Steps</h2>
                <ol>
                    {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </main>
{% endblock content %}