{% extends 'base.html' %}

{% block title %}Edit {{recipe_object.title}} - Scrumptious Recipes{% endblock title %}

{% block content %}
    <main>
        <div class="edit-grid">
            <div class="edit-title">
                <h1>Edit {{ recipe_object.title }}</h1>
            </div>
            <div class="edit-image">
                <img src="{{recipe_object.picture}}" alt="3 vegetarian tacos on a grey wood background surounded by various ingrediants">
            </div>
            <div class="edit-form">
                <form method="post">
                    {% csrf_token %}
                    {{ recipe_form.as_p }}
                    <button>Update</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}