{% extends 'base.html' %}

{% block title %}Scrumptious Recipes{% endblock title %}

{% block content %}
    <main>
        <h1>Scrumtious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
        <div class="container perspective">
            {% for recipe in recipe_list %}
            <div class="{% cycle 'recipe-card' 'recipe-card' 'wacky-recipe-card' %}">
                <h3 class="recipe-title"><a href="{% url 'show_recipe' recipe.id %}">{{recipe.title}}</a></h3>
                <a href="{% url 'show_recipe' recipe.id %}"><img id="list-image" src="{{recipe.picture}}" alt="3 vegetarian tacos on a grey wood background surounded by various ingrediants"></a>
                <div class="meta">
                    <p>
                        {{recipe.rating}} stars
                    </p>
                    <p>
                        Created on: {{ recipe.created_on|date:"M j Y" }}
                    </p>
                </div>
            </div> 
            {% endfor %}
        </div>
    </main>
{% endblock content %}