{% extends 'base.html' %}

{% block title %}Login! - Scrumptious Recipe{% endblock title %}

{% block content %}
    <main>
        <h1>Login!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Submit</button>
        </form>
        <p>Don't have an account?</p>
        <button class="default-button">
            <a href="{% url 'signup' %}">Create An Account</a>
        </button>
    </main>
{% endblock content %}