@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }

* {
    box-sizing: inherit;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

h1, h2, h3, p, a {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #F07875;
}

.auth-nav-grid {
    display: grid;
    grid-template-columns: 5% 10% 1fr 1fr 1fr 5% 10%;
    grid-auto-rows: auto;
    align-items: center;
    grid-template-areas:
    ". . . nav-title . . nav-session"
    ". . nav-main nav-create nav-mine . .";
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #5DB3F0;
}

.unauth-nav-grid {
    display: grid;
    grid-template-columns: 5% 15% 1fr 15% 15% 5%;
    grid-auto-rows: auto;
    align-items: center;
    grid-template-areas:
    ". nav-title . nav-main nav-session .";
    text-align: center;
    border-bottom: 1px solid black;
    background-color: #5DB3F0;
}

#scrumptious {
    text-align: left;
    color: #ffffff;
}

#auth-scrumptious {
    text-align: center;
    color: #ffffff;
}

.nav-title {
    grid-area: nav-title;
}
  
/* .nav-two {
    grid-column: 1;
} */
  
.nav-main {
    grid-area: nav-main;
}
  
.nav-create {
    grid-area: nav-create;
}

.nav-mine {
    grid-area: nav-mine;
}

.nav-session {
    grid-area: nav-session;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #f0dbda;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 25px 10%;
    max-width: 1200px;
    margin: 0 auto 100px auto;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: inherit;
    grid-row-gap: .5em;
    grid-column-gap: 1em;
  }

  .recipe-card {
    background-color: #f9f9f9;
    cursor: pointer;
    transition: transform .3s ease, box-shadow 0.7s ease;
}

.wacky-recipe-card {
    background-color: #F07875;
    cursor: pointer;
    transition: transform .3s ease, box-shadow 0.7s ease;
    color: #ffffff
}

.recipe-card:hover {
    box-shadow: 0px 10px 30px 5px #979797;
    transform: rotateY(-3deg);
    z-index: -1;
}

.wacky-recipe-card:hover {
    box-shadow: 0px 10px 30px 5px #979797;
    transform: rotateY(-3deg);
    z-index: -1;
}

.recipe-title {
    background-color: #2F73A3;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s;
}

.recipe-title a {
    color: #ffffff;
}

.recipe-title:hover {
    background-color:#5DB3F0;
}

#list-image {
    width: 100%;
}

.meta {
    padding: 0px 10px;
}

.perspective {
    perspective: 500px;
}

tbody tr:nth-child(even) {
    background-color: #dfdfdf;
}

footer {
    padding: 24px 0px 24px 0px;
    position: fixed;
    bottom: 0px;
    background-color: #F07875;
    width: 100%;
}

footer p {
    color: #ffffff;
    margin: 0px 50px;
}

/* Begin Django Form CSS */
form input, form textarea {
    border: 1px solid #dadada;
    height: 35px;
    border-radius: 4px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

form textarea {
    border: 1px solid #dadada;
    height: 150px;
    border-radius: 4px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

form label {
    display: block;
}

.default-button a {
    color: #ffffff;
}

form button, .default-button {
    border: none;
    background-color: #5DB3F0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover, .default-button:hover {
    font-size: 28px;
    background-color: #F07875;
}
/* END Django Form CSS */
/* Begin Detail Page Specific CSS */

.detail-title {
    grid-area: detail-title;
}

.detail-image {
    grid-area: detail-image;
}

.detail-image img {
    width: 100%
}

.detail-description {
    grid-area: detail-description;
}

.detail-ingrediants {
    grid-area: detail-ingrediants;
    justify-self: start;
}
.detail-steps {
    grid-area: detail-steps;
    justify-self: start;
}
  
.detail-grid {
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
        "detail-title detail-title detail-title"
        "detail-image detail-description detail-description"
        "detail-image detail-ingrediants detail-steps";
    grid-gap: 2%;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
/* END Detail Page CSS */
/* Begin Edit Page CSS */

/* Begin Detail Page Specific CSS */

.edit-title {
    grid-area: edit-title;
}

.edit-image {
    grid-area: edit-image;
}

.edit-image img {
    width: 100%;
}

.edit-form {
    grid-area: edit-form;
}
  
.edit-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "edit-title edit-title"
        "edit-image edit-form";
    grid-gap: 2%;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .detail-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "detail-title detail-title"
            "detail-image detail-image"
            "detail-description detail-description"
            "detail-ingrediants detail-steps";
    }
    .edit-image {
        display: none;
    }
    .edit-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "edit-title"
            "edit-form";
    }
    /* CSS for Home Page Grid (2 cols) */
    .container {
        grid-template-columns: repeat(2, 1fr);
      }
}