{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <nav class="auth-nav-grid">
            <div class="nav-title">
                <p id="auth-scrumptious"><a class="nav-link" href="{% url 'recipe_list' %}">SCRUMPTIOUS</a></p>
            </div>
            <div class="nav-main">
                <a class="nav-link" href="{% url 'recipe_list' %}">Main page</a>
            </div>
            <div class="nav-create">
                <a class="nav-link" href="{% url 'create_recipe' %}">Create a Recipe</a>
            </div>
            <div class="nav-mine">
                <a class="nav-link" href="{% url 'my_recipe_list' %}">My Recipes</a>
            </div>
            <div class="nav-session">
                <p>Hello, {{ user.username }}</p>
                <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
            </div>
        </nav>
        {% else %}
        <nav class="unauth-nav-grid">
            <div class="nav-title">
                <p id="scrumptious"><a class="nav-link" href="{% url 'recipe_list' %}">SCRUMPTIOUS</a></p>
            </div>
            <div class="nav-main">
                <a class="nav-link" href="{% url 'recipe_list' %}">Main page</a>
            </div>
            <div class="nav-session">
                <a class="nav-link" href="{% url 'user_login' %}">Login</a>
            </div>
        </nav>
        {% endif %}
      </header>
    {% block content %}
    {% endblock content %}
    <footer>
        <p>
            Made with love by Scrumptious Recipes
        </p>
    </footer>
</body>
</html>